<app-navbar></app-navbar>
<div class="wrap-body">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <form (ngSubmit)="onSearch()" class="row row-cols-auto g-2 mt-2">
          <div class="col-auto">
            <label class="col-form-label fw-bold">Filtrar por:</label>
          </div>
          <div class="col-auto">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-filter"></i></span>
              <input type="search" [(ngModel)]="query" name="query"
                     placeholder="PLAN DE SERVICIO..." class="form-control">
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-search"></i><span class="text-uppercase"> Buscar</span>
            </button>
          </div>
          <div class="col-auto">
            <button type="button" (click)="addServicePlan()" class="btn btn-success">
              <i class="fas fa-plus"></i><span class="text-uppercase"> Plan de Servicio</span>
            </button>
          </div>
        </form>
      </div><!-- //.col-12 -->
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="text-uppercase">
            <tr>
              <th colspan="7">Planes de Servicios</th>
            </tr>
            <tr class="table-primary">
              <th>Nombre</th>
              <th>Mikrotik</th>
              <th>Total</th>
              <th>Precio</th>
              <th>Descarga</th>
              <th>Subida</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr *ngFor="let service of servicePlanList">
              <td>{{ service.name }}</td>
              <td>
                <button (click)="servicesMigrate(service._id)" class="btn btn-primary btn-sm">
                  <span class="text-uppercase">Actualizar</span>
                </button>
              </td>
              <td>
                <app-service-plan-badge [servicePlan]="service"></app-service-plan-badge>
              </td>
              <td>{{ service.priceMonthly }}</td>
              <td>{{ service.downloadSpeed }}</td>
              <td>{{ service.uploadSpeed }}</td>
              <td>
                <div class="btn-opt ms-auto">
                  <button type="button" (click)="editServicePlan(service._id)" class="btn btn-secondary btn-sm me-2">
                    <i class="fas fa-edit"></i></button>
                  <button type="button" (click)="deleteServicePlan(service._id)"
                          class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div><!-- //.table-responsive -->
      </div><!-- //.col-12 -->
    </div><!-- //.row -->
    <!-- // Components -->
    <app-service-plan-modal
      [title]="titleModal"
      [servicePlan]="servicePlan"
      (sendServicePlan)="setServicePlan($event)">
    </app-service-plan-modal>
    <!-- ## staticBackdrop -->
    <div class="modal fade" id="staticBackdrop"
         data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <ng-container *ngIf="servicesLength >= 0 else loading">
              <div class="d-flex justify-content-center">
                <span class="text-primary fw-bold">El modal se cerrara automáticamente!</span>
              </div>
              <div class="d-flex align-items-center justify-content-center">
                <div class="spinner-grow spinner-grow-sm text-success" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <span class="fw-bold ms-2">Actualización #{{servicesLength}}</span>
              </div>
            </ng-container>
            <ng-template #loading>
              <div class="d-flex justify-content-center align-items-center">
                <strong>Cargando...</strong>
                <div class="spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true"></div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <!-- ## staticBackdrop -->
  </div>
</div>
