<app-navbar></app-navbar>
<div class="wrap-body">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <!-- ##(Begin) Content -->
    <div class="row">
      <div class="col-12">
        <div class="d-flex my-2 justify-content-between">
          <div class="d-flex align-items-center">
            <h4 class="text-uppercase m-0 me-2">Órdenes de Trabajo</h4>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fas fa-cog"></i>
                <span class="text-uppercase ms-1">Opciones</span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="/work_orders/new">
                    <span class="text-uppercase">Registrar Orden</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/work_orders/report">
                    <span class="text-uppercase">Reporte Mensual</span>
                  </a>
                </li>
              </ul>
            </div>
          </div><!-- //.d-flex -->
          <form (submit)="workOrdersLoad($event)" class="row row-cols-auto g-2">
            <div class="col-auto">
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-filter"></i></span>
                <input type="text" [formControl]="query"
                       class="form-control" placeholder="CLIENTE...">
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i><span class="text-uppercase ms-1">Buscar</span>
              </button>
            </div>
          </form><!-- //.form-inline -->
        </div><!-- //.d-flex -->
      </div><!-- //.col-12 -->
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr class="text-uppercase">
              <th>Cliente</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of workOrders">
              <td>
                <a [routerLink]="['/work_orders/detail', item.WorkOrder._id]"
                   class="text-uppercase">{{item.fullName}}</a>
                <div *ngIf="item.WorkOrder.description" class="card px-2">{{item.WorkOrder.description}}</div>
                <div class="d-flex">
                  <div class="text-uppercase me-1">
                    <span class="badge bg-info">{{item.WorkOrder.typeTask}}</span>
                  </div>
                  <div class="text-uppercase ms-1">
                    <span *ngIf="item.WorkOrder.statusOrder === 'PENDIENTE'" class="badge bg-primary">
                      {{item.WorkOrder.statusOrder}}</span>
                    <span *ngIf="item.WorkOrder.statusOrder === 'EN PROCESO'" class="badge bg-warning">
                      {{item.WorkOrder.statusOrder}}</span>
                    <span *ngIf="item.WorkOrder.statusOrder === 'FINALIZADO'" class="badge bg-success">
                      {{item.WorkOrder.statusOrder}}</span>
                  </div>
                </div>
                <span class="blockquote-footer">{{item.WorkOrder.createdAt|date}}</span>
              </td>
              <td>{{item.WorkOrder.address}}</td>
              <td>{{item.phone}}</td>
              <td>
                <div class="btn-opt ms-auto">
                  <button [routerLink]="['/work_orders/edit', item.WorkOrder._id]"
                          class="btn btn-secondary btn-sm me-2"><i class="fas fa-edit"></i></button>
                  <button (click)="deleteWorkOrder(item.WorkOrder._id)" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i></button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div><!-- .col-12 -->
    </div><!-- //.row -->
    <!-- ##(End) Content -->
  </div>
</div>
