.Title {
  min-width: 270px;
  padding-right: 4px;
}

.QuickSearch {
  cursor: pointer;

  &:hover {
    i, span, .Ctrl {
      color: #637381;
    }
  }

  i {
    font-size: 18px;
    padding-right: 4px;
    color: #9ca3af;
  }

  span {
    color: #9ca3af;
    font-size: 18px;
    font-weight: bold;
  }

  .Ctrl {
    border: 1px solid;
    border-radius: 4px;
    font-weight: 500;
    padding: 1px 8px;
    margin-left: 8px;
  }
}
