<div class="modal fade" id="app-password-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">Cambiar Contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label">Contraseña (<span class="text-danger">*</span>)</label>
            <input type="password" formControlName="password" class="form-control"
                   [ngClass]="{'is-invalid': inputIsInvalid('password')}">
            <div class="invalid-feedback">Ingrese una contraseña válida.</div>
          </div>
          <label class="form-label">Repetir Contraseña (<span class="text-danger">*</span>)</label>
          <input type="password" formControlName="confirmPassword" class="form-control"
                 [ngClass]="{'is-invalid': inputIsInvalid('confirmPassword')}">
          <div class="invalid-feedback">Ingrese una contraseña válida.</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" (click)="saveChanges()" class="btn btn-primary text-uppercase">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
