<app-navbar></app-navbar>
<div class="wrap-body">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <!-- ##(Begin) Content -->
    <div class="rounded-3 px-3 py-2 my-2" style="background: #e9ecef;">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <h4 class="text-uppercase">{{currentClient.fullName}}</h4>
          <p class="lead m-0">
            <a [routerLink]="['/client/detail', currentService.clientId]"
               class="font-weight-bold"
               [ngClass]="{'text-success': currentService.status === 'HABILITADO',
               'text-danger': currentService.status === 'SUSPENDIDO'}">
              {{ currentServicePlan.name }}
              <span class="fw-bold">
                "[{{ currentService.defPrice ?
                currentService.price : currentServicePlan.priceMonthly}}] {{currentService.paymentType}}"
              </span> - {{currentService.ipAddress}}
            </a>
          </p>
        </div>
        <div class="btn-group">
          <button type="button" (click)="editServiceModal()" class="btn btn-primary">
            <i class="fas fa-edit"></i><span class="text-uppercase ms-1">Editar</span>
          </button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item text-uppercase" (click)="deleteServiceClick($event)" href="#">Borrar</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ##(Begin) Tabs -->
    <nav class="d-print-none">
      <div class="nav nav-tabs" role="tablist">
        <button class="nav-link active" data-bs-toggle="tab"
                data-bs-target="#nav-payment" type="button" role="tab">
          <i class="far fa-credit-card"></i><span class="text-uppercase ms-1">Información de Pagos</span>
        </button>
        <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#nav-averias" type="button" role="tab">
          <i class="fas fa-phone-square-alt"></i><span class="text-uppercase ms-1">Registro de Averias</span>
        </button>
        <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#nav-status-change" type="button" role="tab">
          <i class="fas fa-exchange-alt"></i><span class="text-uppercase ms-1">Servidor Mikrotik</span>
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-payment" role="tabpanel">
        <!-- ##(Begin) Información de pagos -->
        <app-payment-detail></app-payment-detail>
        <!-- ##(End) Información de pagos -->
      </div>
      <div class="tab-pane fade" id="nav-averias" role="tabpanel">
        <!-- ##(Begin) Averias -->
        <app-averia-detail></app-averia-detail>
        <!-- ##(End) Averias -->
      </div>
      <div class="tab-pane fade" id="nav-status-change" role="tabpanel">
        <!-- ##(Begin) Estado de cambios -->
        <app-change-status></app-change-status>
        <!-- ##(End) Estado de cambios -->
      </div>
    </div>
    <!-- ##(End) Tabs -->
    <app-service-modal
      [title]="titleService"
      [currentService]="currentService"
      (hideModal)="hideServiceModal($event)">
    </app-service-modal>
    <!-- ##(End) Content -->
  </div>
</div>
