<app-navbar></app-navbar>
<div class="wrap-body">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <!-- ##(Begin) Content -->
    <div class="ticket" [style]="{'width': info.paperWidth+'px'}">
      <div class="d-flex justify-content-center my-2 d-print-none">
        <button type="button" (click)="print()" class="text-uppercase">Imprimir</button>
      </div>
      <p class="text-center m-0 text-uppercase">Recibo Orden de Trabajo</p>
      <p class="text-center m-0">{{info.company}}</p>
      <p class="text-center m-0">{{info.fullAddress}}</p>
      <p class="text-center m-0">Cel. {{info.phone}}</p>
      <hr class="d-print-block my-1">
      <table class="w-100">
        <tr>
          <th class="text-uppercase">Cliente:</th>
          <td>{{client.fullName}}</td>
        </tr>
      </table>
      <hr class="d-print-block my-1">
      <table class="w-100">
        <tr>
          <th class="text-uppercase text-end">Concepto:</th>
          <td class="text-uppercase">{{workOrder.description}}</td>
        </tr>
        <tr>
          <th class="text-uppercase text-end">Dirección:</th>
          <td class="text-uppercase">{{workOrder.address}}</td>
        </tr>
        <tr>
          <th class="text-uppercase text-end">Servicio:</th>
          <td class="text-uppercase">{{workOrder.typeTask}}</td>
        </tr>
        <tr>
          <th class="text-uppercase text-end">Plan:</th>
          <td class="text-uppercase">{{servicePlan.name}}</td>
        </tr>
        <tr>
          <th class="text-uppercase text-end">Total:</th>
          <td class="text-uppercase">{{workOrder.total}}</td>
        </tr>
        <tr>
          <th class="text-uppercase text-end">Pagado:</th>
          <td class="text-uppercase">{{workOrder.amount}}</td>
        </tr>
      </table>
      <hr class="d-print-block my-1">
      <div [innerHTML]="info.legendTicket" class="text-center"></div>
    </div>
    <!-- ##(End) Content -->
  </div>
</div>
