<div class="modal fade" id="app-averia-attend" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">Atender Averia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-1">
        <form [formGroup]="averiaForm">
          <div class="pb-1">
            <label class="col-form-label-sm text-uppercase">Origen del problema</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-exclamation-triangle"></i></span>
              <select class="form-select" formControlName="origin">
                <option value="O">Organización</option>
                <option value="C">Cliente</option>
              </select>
            </div>
          </div>
          <div class="pb-1">
            <label class="col-form-label-sm text-uppercase">Que Trabajo se realizó?</label>
            <textarea class="form-control" formControlName="solution"></textarea>
          </div>
          <div class="pb-1">
            <label class="col-form-label-sm text-uppercase">Técnico responsable</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
              <select class="form-select text-uppercase" formControlName="user">
                <option *ngFor="let user of users" [value]="user.id">{{ user.text }}</option>
              </select>
            </div>
          </div>
          <label class="col-form-label-sm text-uppercase">Estado averia</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-satellite"></i></span>
            <select class="form-select" formControlName="status">
              <option value="P">PENDIENTE</option>
              <option value="E">EN PROCESO</option>
              <option value="F">FINALIZADO</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" (click)="saveChanges()" class="btn btn-primary text-uppercase">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
