<app-navbar></app-navbar>
<div class="wrap-body">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <h4 class="my-2 text-uppercase">Opciones del Sistema</h4>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4" *ngIf="checkRolAdmin()">
            <app-system-option [icon]="'fas fa-cog'"
                               [href]="'/system/general'" [title]="'General'"
                               [detail]="'Información de la Empresa'">
            </app-system-option>
          </div>
          <div class="col-md-4" *ngIf="checkRolAdmin()">
            <app-system-option [icon]="'fas fa-user'"
                               [href]="'/user/list'" [title]="'Usuarios'"
                               [detail]="'Configuración de usuarios y permisos'">
            </app-system-option>
          </div>
          <div class="col-md-4" *ngIf="checkRolAdmin()">
            <app-system-option [icon]="'fas fa-tags'"
                               [href]="'/system/service-plans'"
                               [title]="'Planes de Servicio'"
                               [detail]="'Configure los Planes de Servicios'">
            </app-system-option>
          </div>
          <div class="col-md-4">
            <app-system-option [icon]="'fas fa-signal'"
                               [href]="'/system/coverages'" [title]="'Cobertura'"
                               [detail]="'Configure las areas de Cobertura'">
            </app-system-option>
          </div>
          <div class="col-md-4">
            <app-system-option [icon]="'fas fa-box'" [href]="'/system/material'"
                               [title]="'Materiales'"
                               [detail]="'Lista de Materiales'">
            </app-system-option>
          </div>
          <div class="col-md-4" *ngIf="checkRolAdmin()">
            <app-system-option [icon]="'fas fa-server'"
                               [href]="'/system/mikrotik'" [title]="'Equipos Mikrotik'"
                               [detail]="'Lista de Equipos Mikrotik'">
            </app-system-option>
          </div>
          <div class="col-md-4" *ngIf="checkRolRedes()">
            <app-system-option [icon]="'fas fa-directions'" [href]="'/system/tramo'"
                               [title]="'Tramos de Red'" [detail]="'Lista de Tramos de Red'">
            </app-system-option>
          </div>
          <div class="col-md-4" *ngIf="checkRolRedes()">
            <app-system-option [icon]="'fas fa-broadcast-tower'"
                               [href]="'/system/tower'" [title]="'Torres'"
                               [detail]="'Lista de Torres'">
            </app-system-option>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
