<div class="Sidebar d-print-none">
  <div class="SidebarItem">
    <a routerLink="/averia" routerLinkActive="active">
      <i class="fas fa-phone-square-alt"></i>
      <span class="Text">Averias</span>
    </a>
  </div>
  <div class="SidebarItem">
    <a routerLink="/client" routerLinkActive="active">
      <i class="fas fa-user"></i>
      <span class="Text">Clientes</span>
    </a>
  </div>
  <div class="SidebarItem">
    <a routerLink="/work_orders" routerLinkActive="active">
      <i class="fa-solid fa-screwdriver-wrench"></i>
      <span class="Text">Ordenes</span>
    </a>
  </div>
  <div class="SidebarItem">
    <a routerLink="/devices" routerLinkActive="active">
      <i class="fa-solid fa-diagram-project"></i>
      <span class="Text">Equipos</span>
    </a>
  </div>
  <div class="SidebarItem">
    <a routerLink="/system" routerLinkActive="active">
      <i class="fas fa-cogs"></i>
      <span class="Text">Sistema</span>
    </a>
  </div>
</div>
