[Unit]
Description=rd4-server

[Service]
WorkingDirectory=/var/www/server
ExecStart=/var/www/server/SERVER
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=rd4-server

[Install]
WantedBy=multi-user.target
