[Unit]
Description=Wireless Pro Server

[Service]
WorkingDirectory=/var/www/server/api
ExecStart=/usr/bin/node /var/www/server/api/src/server.js
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=wireless-pro

[Install]
WantedBy=multi-user.target
