[Unit]
Description=wireless-pro

[Service]
WorkingDirectory=/var/www/server
ExecStart=/var/www/server/SERVER
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=wireless-pro

[Install]
WantedBy=multi-user.target
