<app-navbar></app-navbar>
<div class="wrap-body">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="root" [style]="{'width': info.paperWidth+'px'}">
      <div class="d-flex justify-content-center my-2 d-print-none">
        <button type="button" (click)="print()" class="text-uppercase">Imprimir</button>
      </div>
      <p class="text-center m-0 text-uppercase">Recibo de Servicio</p>
      <p class="text-center m-0">{{ info.company }}</p>
      <p class="text-center m-0">{{ info.fullAddress }}</p>
      <p class="text-center m-0">Cel. {{ info.phone }}</p>
      <hr class="d-print-block my-1">
      <table class="w-100">
        <tr>
          <th class="text-uppercase">Cliente:</th>
          <td>{{ client.fullName }}</td>
        </tr>
      </table>
      <hr class="d-print-block my-1">
      <table class="w-100">
        <tr>
          <th class="text-uppercase">Fecha:</th>
          <td>{{ currentDate|date:'dd MMM, yyyy' }}</td>
        </tr>
        <tr>
          <th class="text-uppercase">Servicio:</th>
          <td>ACCESO A RED</td>
        </tr>
        <tr>
          <th class="text-uppercase">Período:</th>
          <td>{{payment.payFrom|date}} a {{payment.payUp|date}} </td>
        </tr>
        <tr>
          <th class="text-uppercase">Plan:</th>
          <td>{{ servicePlan.name }}</td>
        </tr>
        <tr>
          <th class="text-uppercase">Monto:</th>
          <td>{{ payment.amount}} Soles</td>
        </tr>
      </table>
      <hr class="d-print-block my-1">
      <div [innerHTML]="info.legendTicket" class="text-center"></div>
    </div>
  </div>
</div>
