.Sidebar {
  width: 100px;
  background-color: #282c34;
  height: 100%;
  border-right: 4px solid #61dafb;
}

.SidebarItem {
  a {
    padding: 10px;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;

    i {
      font-size: 40px;
    }

    .Text {
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
    }

  }

  .active {
    background-color: #7C8B8F;

    &:hover {
      color: white;
    }
  }

  &:hover {
    background-color: #61dafb;

    a {
      color: #282c34;
    }
  }

}
