@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
// ============================================================
@import "../../../node_modules/select2/src/scss/core";
@import "../../../node_modules/select2-bootstrap-5-theme/src/include-all";

a {
  color: #0047ba;
  text-decoration: none;
}

.wrap-body {
  display: flex;
  min-height: calc(100vh - 66px);
}

.btn-opt {
  width: 75px;
}

p {
  margin-bottom: 0;
}
