<div class="modal fade" id="app-user-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="this.errors?.length > 0" class="alert alert-danger" role="alert">
          <ul class="mb-0">
            <li *ngFor="let error of errors">{{ error.msg }}</li>
          </ul>
        </div>
        <form [formGroup]="userForm">
          <div class="pb-3">
            <div class="input-group has-validation">
              <span class="input-group-text">
                  <i class="fas fa-id-card-alt"></i>
              </span>
              <input type="text" formControlName="fullName" class="form-control"
                     [ngClass]="{'is-invalid': inputIsInvalid('fullName')}" placeholder="Nombres y Apellidos">
              <div class="invalid-feedback">El campo nombre es obligatorio.</div>
            </div>
          </div>
          <div class="pb-3">
            <div class="input-group has-validation">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
              <input type="text" formControlName="userName" class="form-control"
                     [ngClass]="{'is-invalid': inputIsInvalid('userName')}" placeholder="Username">
              <div class="invalid-feedback">El campo userName es obligatorio.</div>
            </div>
          </div>
          <ng-container *ngIf="!editMode">
            <div class="pb-3">
              <div class="input-group has-validation">
                <span class="input-group-text">
                  <i class="fas fa-key"></i>
                </span>
                <input type="text" formControlName="password" class="form-control"
                       [ngClass]="{'is-invalid': inputIsInvalid('password')}" placeholder="Password">
                <div class="invalid-feedback">Ingrese una contraseña válida [min-6 caracteres].</div>
              </div>
            </div>
          </ng-container>
          <div class="pb-3">
            <div class="input-group has-validation">
              <span class="input-group-text">
                <i class="fas fa-user-tag"></i>
              </span>
              <select name="roles" formControlName="roles" class="form-select"
                      [ngClass]="{'is-invalid': inputIsInvalid('roles')}">
                <option value="ROL_ADMIN">ROL_ADMIN</option>
                <option value="ROL_REDES">ROL_REDES</option>
                <option value="ROL_CAJERO">ROL_CAJERO</option>
              </select>
              <div class="invalid-feedback">El campo rol es obligatorio.</div>
            </div>
          </div>
          <div class="pb-3">
            <div class="input-group has-validation">
              <span class="input-group-text">
                <i class="fas fa-envelope"></i>
              </span>
              <input type="text" formControlName="email" class="form-control"
                     [ngClass]="{'is-invalid': inputIsInvalid('email')}" placeholder="E-Mail">
              <div class="invalid-feedback">Ingrese un email válido.</div>
            </div>
          </div>
          <div class="form-check form-switch">
            <input type="checkbox" formControlName="suspended" class="form-check-input" id="customSwitch3">
            <label class="form-check-label" for="customSwitch3">Suspender Cuenta</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-uppercase mr-2" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" (click)="saveChanges()" class="btn btn-primary text-uppercase">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
