<app-navbar></app-navbar>
<div class="wrap-body">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <form (ngSubmit)="onSearch()" class="row row-cols-auto g-2 mt-2">
          <div class="col-auto">
            <label class="col-form-label fw-bold">Filtrar por:</label>
          </div>
          <div class="col-auto">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-filter"></i></span>
              <input type="search" [(ngModel)]="query" name="query" class="form-control"
                     placeholder="MATERIAL...">
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-search"></i>
              <span class="text-uppercase ms-1">Buscar</span>
            </button>
          </div>
          <button (click)="addMaterial()" type="button" class="btn btn-success">
            <i class="fas fa-plus"></i>
            <span class="text-uppercase ms-1">Material</span>
          </button>
        </form>
      </div>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr class="text-uppercase">
              <th>Und.</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let material of materials">
              <td>{{ material.und }}</td>
              <td>{{ material.description }}</td>
              <td>{{ material.price|currency:undefined:'S/' }}</td>
              <td>
                <div class="btn-opt ms-auto">
                  <button (click)="editMaterial(material._id)" class="btn btn-secondary btn-sm me-2">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button (click)="deleteMaterial(material._id)" class="btn btn-danger btn-sm"><i
                    class="fas fa-trash-alt"></i></button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <app-material-modal
    [title]="titleModal"
    [material]="currentMaterial"
    (sendModel)="saveChanges($event)">
  </app-material-modal>
</div>
