.root {
  margin: 4px;
}

.link:hover {
  background-color: #f4f6f8;
  border-radius: 4px;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.link span.first {
  color: #006fc6;
  font-weight: bold;
  display: block;
}

.link span.second {
  color: #637381;
}

.icon {
  background-color: #919eab;
  padding: 4px 8px;
  border-radius: 2px;
  margin: 10px;
}

.icon i {
  color: white;
  font-size: 1.2rem;
}
